html,
body {
	padding: 0;
	margin: 0;
  /* background-image: url('/img/back.jpeg'); */
  /* background-size:cover; */
  /* background-position: top; */
	font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
		Droid Sans, Helvetica Neue, sans-serif;
	color: #ffffff;
}

#title {
  color:'white';
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
